body{
    background-color: #1a1a1a;
}

.container-customize {
    width: 90%;
    margin: 0 auto;
    max-width: 1920px;
    padding-right: 0;
    padding-left: 0;
}



.desktop{
    @include maxWidth(991){
        display: none !important;
    }
}

.mobile{
    display: none !important;
    @include maxWidth(991){
        display: unset !important;
    }
}

.icon-md{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 18px;
        height: 18px;
    }
    @include maxWidth(991){
        img{
            width: 22px;
            height: 22px;
        }
    }
}

#layer-loading-page{
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    .loader {
        width: 40px;
        height: 40px;
        --c:no-repeat linear-gradient(orange 0 0);
        background: var(--c),var(--c),var(--c),var(--c);
        background-size: 21px 21px;
        animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
    }
    @keyframes l5 {
       0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
       33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
       66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
       100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
    }
    &.active{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.video-js .vjs-time-control {
    display: block;
}
.video-js .vjs-remaining-time {
    display: none;
}

.video-model{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    .wr-relative{
        position: relative;
        width: 100%;
        height: 100%;
        .video-model-layer{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0,0.6);
            cursor: pointer;
        }
        .video-model-content{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: 480px;
            overflow: hidden;
            background-color: rgb(233, 232, 232);
            transform: translateY(100%);
            transition: all 0.2s linear;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            .modal-header{
                display: flex;
                justify-content: flex-end;
                span{
                    cursor: pointer;
                    width: 35px;
                    height: 35px;
                    margin-right: 12px;
                    margin-top: 8px;
                    img{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
    &.active{
        opacity: 1;
        visibility: visible;
        .wr-relative{
            .video-model-content{
                transform: translateY(0%);
            }
        }
    }
}
