
.menu {
    &-header {
        background: rgb(18, 18, 18);
        display: flex;
        height: 100%;
        &__logo {
            margin: auto;
            display: block;
            margin-left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            .header-logo-wrapper {
                display: block;
                img {
                    width: 100px;
                    max-width: 80%;
                    height: 100%;
                    align-self: center;
                    display: block;
                    object-fit: contain;
                }
            }
            @include maxWidth(991){
                display: none;
            }
        }
        &__wrapper{
            min-width: 200px;
            padding: 0px 8px;
            width: 516px;
            display: flex;
            align-items: center;
            @include maxWidth(991){
                display: none;
            }
            .css-FormElement {
                display: flex;
                flex-direction: row;
                -webkit-box-align: center;
                align-items: center;
                padding: 6px 16px;
                background: rgba(255, 255, 255, 0.12);
                border-radius: 92px;
                position: relative;
                overflow: hidden;
                z-index: 1;
                margin: 0px;
                width: 100%;
            }
            .css-InputElement {
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                border: none;
                background: transparent;
                outline: none;
                padding: 0px;
                width: 100%;
                color: rgba(255, 255, 255, 0.9);
                caret-color: rgb(255, 59, 92);
                appearance: textfield;
            }

            .css-SpanSpliter {
                width: 1px;
                height: 28px;
                margin: -3px 0;
                background: rgba(255, 255, 255, .12);
            }
            .css-ButtonSearch {
                padding: 11px 16px 11px 12px;
                margin: -12px -16px -12px 0px;
                font-size: 0px;
                cursor: pointer;
                outline: none;
                border: none;
                background: transparent;
            }
        }
        &__info {
            display: flex;
            position: relative;
            max-width: 270px;
            flex-shrink: 0;
            margin-left: auto;
            padding-left: 2rem;

            &-list {
                display: flex;
                width: 100%;
                align-items: center;
                margin: 0 auto;
                justify-content: flex-end;
                z-index: 2;
                .css-Button-StyledLoginButton {
                    border-radius: 4px;
                    border: none;
                    color: rgb(255, 255, 255);
                    background-color: rgb(255, 59, 92);
                    min-height: 36px;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    padding: 6px 8px;
                    user-select: none;
                    cursor: pointer;
                    box-sizing: border-box;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 21px;
                    margin-left: 16px;
                    min-width: 100px;
                }
                .css-StyledEllipsisVertical {
                    width: 20px;
                    height: 20px;
                    display: block;
                    margin-left: 17px;
                    cursor: pointer;
                }
                .user-menu{
                    display: flex;
                    .logo-buy-service{
                        display: flex;
                        align-items: center;
                    }
                    .user-info{
                        .user-name{
                            span{
                                color: white;
                                img{
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include maxWidth(1079){
            .menu-header__logo{
                width: 100%;
            }
        }
    }
}

.page-common{
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;

    #main-header {
        width: 100%;
        background: rgb(18, 18, 18);
        display: flex;
        box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 1px;
        height: $menuHeight;
        -webkit-box-align: center;
        align-items: center;
        background: rgb(18, 18, 18);
        z-index: 3000;
        @include maxWidth(991){
            display: none;
        }
    }
    .body-container{
        display: flex;
        background-color: rgb(18, 18, 18);
        width: 100%;
        height: calc(100vh - $menuHeight);
        overflow-y: hidden;
        .side-nav-container {
            position: relative;
            height: 100%;
            width: $widthSideBar;
            .scroll-container {
                overflow: hidden auto;
                overscroll-behavior-y: contain;
                perspective: 1px;
                transform-style: preserve-3d;
                perspective-origin: right top;
                top: $menuHeight;
                bottom: 0px;
                width: $widthSideBar;
                background: rgb(18, 18, 18);
                position: fixed;
                z-index: 99;
                &::-webkit-scrollbar {
                    height: 7px;
                    width: 7px;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgb(255, 59, 92);
                    border-radius: 50px;
                    cursor: pointer;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                .scroll-wrapper {
                    flex-shrink: 0;
                    padding: 20px 0px 26px 8px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    -webkit-box-align: stretch;
                    align-items: stretch;
                    min-height: 100%;
                    .nav-main-container {
                        margin-bottom: 8px;
                        padding: 0px;
                        @include maxWidth(991){
                            padding: 0px 15px;
                        }
                        .main-nav {
                            padding: 0px;
                            margin: 0px;
                            list-style-type: none;
                            .nav-link {
                                position: relative;
                                display: flex;
                                -webkit-box-pack: start;
                                justify-content: flex-start;
                                -webkit-box-align: center;
                                align-items: center;
                                padding: 8px;
                                box-sizing: border-box;
                                border-radius: 4px;
                                font-size: 32px;
                                transition: background 200ms ease-in-out 0s;
                                .main-nav-text {
                                    color: rgba(255, 255, 255, 0.9);
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 24px;
                                    margin-left: 8px;
                                    &:hover{
                                        color: rgb(255, 59, 92);
                                    }
                                }
                            }
                        }
                    }
                    .frame-container {
                        position: relative;
                        padding: 20px 8px 24px;
                        margin: 0px;
                        &::before {
                            content: "";
                            position: absolute;
                            height: 1px;
                            left: 8px;
                            right: 8px;
                            background: rgba(22, 24, 35, 0.12);
                            transform: scaleY(0.5);
                            top: 0px;
                        }
                        .login-hint {
                            color: rgba(255, 255, 255, 0.5);
                            font-size: 16px;
                            line-height: 21px;
                        }
                        .button-styled-login {
                            border-width: 1px;
                            border-style: solid;
                            border-radius: 4px;
                            color: rgb(255, 59, 92);
                            border-color: rgb(255, 59, 92);
                            background-color: rgba(255, 255, 255, 0.08);
                            min-width: 168px;
                            min-height: 48px;
                            font-size: 18px;
                            line-height: 25px;
                            font-weight: 600;
                            display: flex;
                            position: relative;
                            -webkit-box-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            justify-content: center;
                            padding: 6px 8px;
                            user-select: none;
                            cursor: pointer;
                            box-sizing: border-box;
                            margin-top: 20px;
                            width: 100%;
                        }
                    }
                    .footer-container {
                        position: relative;
                        padding-top: 16px;
                        padding-left: 8px;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 8px;
                            right: 8px;
                            top: 0px;
                            height: 1px;
                            background: rgba(255, 255, 255, 0.12);
                            transform: scaleY(0.5);
                        }
                        .link-list-header {
                            font-size: 15px;
                            line-height: 22px;
                            margin-top: 0px;
                            cursor: pointer;
                            color: rgba(255, 255, 255, 0.5);
                            font-weight: 700;
                        }
                        .copy-right {
                            color: rgba(255, 255, 255, 0.5);
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 16px;
                            display: inline-block;
                            margin-right: 6px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        .area-video{
            height: calc(100vh - 70px);
            width: calc(100% - $widthSideBar);
            max-width: 1440px;
            background-color: white;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .banner-ads-wr{
                height: 80px;
            }
            .wr-component-video-reel{
                width: 100%;
                height: 100%;
                display: flex;
                .component-video-reel{
                    width: 100%;
                    gap: 10px;
                    display: flex;
                    border-radius: 15px;
                    justify-content: center;
                    height: calc(100%);
                    position: relative;
                    .swiper-reel{
                        height: 100%;
                        width: calc(100% - 50px);
                        overflow: hidden;
                        .swiper-slide{
                            .slide-item-wr{
                                position: relative;
                                display: flex;
                                height: 100%;
                                gap: 10px;
                                .component-video-element{
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    video{
                                        width: 100%;
                                        max-height: 100%;
                                        object-fit: contain;
                                        border-radius: 15px;
                                    }
                                }
                                .button-group-bar{
                                    height: 100%;
                                    width: 48px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-end;
                                    .btn-grp-item{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: flex-start;
                                        gap: 2px;
                                        margin: 10px 0;
                                        .btn-icon-circle{
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            width: 48px;
                                            height: 48px;
                                            border-radius: 50%;
                                            background-color: rgba(255, 255, 255, 0.8);
                                            transition: all 0.2s linear;
                                            .item-active{
                                                display: none;
                                            }
                                            &.active{
                                                .item-active{
                                                    display: unset;
                                                }
                                                .item-no-active{
                                                    display: none;
                                                }
                                            }
                                            img{
                                                width: 24px;
                                                height: 24px;
                                            }
                                            cursor: pointer;
                                            &:hover{
                                                background-color: rgba(22, 24, 35, 0.4);
                                            }
                                        }
                                        .title{
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
                .banner-ads-wr-2{
                    width: 100px;
                    background-color: #a5cbef;
                }
            }

        }
        @include maxWidth(991){
            flex-direction: column-reverse;
            height: 100vh;
            .area-video{
                width: 100%;
                height: calc(100% - 48px);
                .banner-ads-wr{
                    display: none;
                }
                .wr-component-video-reel{
                    height: 100%;
                    .component-video-reel{
                        height: 100%;
                        width: 100%;
                        .swiper-reel{
                            width: 100%;
                            .swiper-slide{
                                .slide-item-wr{
                                    .component-video-element{
                                        width: 100%;
                                    }
                                    .button-group-bar{
                                        position: absolute;
                                        top: 0;
                                        right: 10px;
                                        height: 100%;
                                        z-index: 1;
                                        width: 35px;
                                        .btn-grp-item{
                                            .btn-icon-circle{
                                                width: 35px;
                                                height: 35px;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                    .banner-ads-wr-2{
                        display: none;
                    }
                }
            }
            .side-nav-container{
                position: relative;
                height: 48px;
                width: 100%;
                flex: unset;
            }
        }
    }
    @include maxWidth(991){
        .frame-container,.footer-container{
            display: none;
        }

        .body-container {
            .side-nav-container .scroll-container {
                width: 100%;
                flex: 0 0 72px;
                box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
                border-right: 1px solid rgba(255, 255, 255, 0.12);
                top: unset;
                .scroll-wrapper{
                    padding: 0px;
                    .nav-wrapper{
                        width: 100%;
                        .nav-main-container{
                            margin-bottom: 0;
                            .main-nav{
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
                    }
                }

            }
            .side-nav-container{
                width: 72px;
            }
        }
        .nav-wrapper{
            .nav-main-container{
                .nav-link{
                    justify-content: center;
                    .main-nav-text{
                        display: none;
                    }
                }
            }
        }
    }
}
.container-page{
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    @include maxWidth(991){
        width: 100%;
    }
}
.area-body-home{
    height: 100%;
    background-color: #1a1a1a;
}

.banner-ads-wr{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0,0,0,0.2);
    .container-ads{
        height: 100px;
        img{
            width: auto;
            height: 100%;
            object-fit: contain;
        }
    }
}

.category-component{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    .heading{
        width: 100%;
        .caption{
            font-size: 25px;
            float: left;
            font-family: roboto;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 15px;
            margin-top: 0px;
            padding: 16px 0;
            color: #a5cbef;
            background: #ff8a00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }
    }
    .list-movies{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 8px;
        @include maxWidth(1240){
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        @include maxWidth(991){
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include maxWidth(780){
            grid-template-columns: 1fr 1fr;
        }
        @include maxWidth(380){
            grid-template-columns: 1fr;
        }
        .movie-item-item{
            width: 100%;
            height: 120px;
            overflow: hidden;
            a{
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                .thumb{
                    img{
                        transition: all 0.2s linear;
                        width: 100%;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }
                .play-icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    img{
                        width: 50px;
                        transition: all 0.4s linear;
                    }
                    opacity: 0;
                    transition: all 0.2s linear;
                }
                .title{
                    position: absolute;
                    width: 100%;
                    padding: 10px 5px;
                    bottom: 0px;
                    background: rgba(0, 0, 0, .6);
                    font-size: 15px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                &:hover{
                    .thumb{
                        img{
                            transform: scale(1.2);
                        }
                    }
                    .play-icon{
                        opacity: 1;
                        img{
                            transform: scale(0.6);
                        }

                    }
                }
            }

        }
    }

    .container-full{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        a{
            display: block;
            padding: 5px 8px;
            background-color: gray;
        }
    }
}

.common-footer{
    min-height: 300px;
    width: 100%;
    background-color: #060606;
}

.ads-script{
    position: fixed;
    width: 60%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 150;
    .close-btn{
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        padding: 5px 10px;
        background-color: white;
        cursor: pointer;
    }
}
.ads-banner{
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 999;
    cursor: pointer;
    @include maxWidth(991){
        top: 0px;
    }
}
.ads-banner-vetical {
    position: fixed;
    top: 70px;
    right: 0;
    height: 100%;
    width: 100px;
    z-index: 999;
    cursor: pointer;
}
.video-js{
    width: 100%;
    height: 100%;
}
